{% extends "base.html" %}
{% block about_active %}active{% endblock %}
{% block header_1 %}About{% endblock %}
{% block content_1 %}
<p>
    When using this work, please cite us: TODO CITATION<br/><br/>
    Contact: <br/>
    Jan Portisch, University of Mannheim (<a
        href="mailto:jan@informatik.uni-mannheim.de">jan@informatik.uni-mannheim.de</a>)<br/>
    Heiko Paulheim, University of Mannheim (<a href="mailto:heiko@informatik.uni-mannheim.de">jan@informatik.uni-mannheim.de</a>)
</p><br/>


<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <img alt="Picture of Jan" src="static/jan_quadratic.png" style="width:100%">
                <h1>Jan Portisch</h1>
                <!--<p class="title">PhD Student</p>-->
                <p>University of Mannheim</p>
                <p>
                    <a class="card-link" href="#"><i class="fa fa-dribbble contact-icon"></i></a>
                    <a class="card-link" href="#"><i class="fa fa-twitter contact-icon"></i></a>
                    <a class="card-link" href="#"><i class="fa fa-linkedin contact-icon"></i></a>
                    <a class="card-link" href="#"><i class="fa fa-facebook contact-icon"></i></a>
                </p>

                <button class="contact-button">Contact</button>

            </div>
        </div>
        <div class="col">
            <div class="card">
                <img alt="Picture of Heiko" src="static/heiko_quadratic.jpg" style="width:100%">
                <h1>Heiko Paulheim</h1>
                <!--<p class="title"></p>-->
                <p>University of Mannheim</p>
                <p>
                    <a class="card-link" href="#"><i class="fa fa-dribbble contact-icon"></i></a>
                    <a class="card-link" href="#"><i class="fa fa-twitter contact-icon"></i></a>
                    <a class="card-link" href="#"><i class="fa fa-linkedin contact-icon"></i></a>
                    <a class="card-link" href="#"><i class="fa fa-facebook contact-icon"></i></a>
                </p>

                <button class="contact-button">Contact</button>

            </div>
        </div>
    </div>
</div>


{% endblock %}