<!DOCTYPE html>
<html lang="en">

<head>
    <title>KGvec2go</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link href="/static/favicon.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/static//favicon.png" rel="icon" sizes="96x96" type="image/png">
    <link href="/static/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <meta content="#ffffff" name="msapplication-TileColor">
    <meta content="/static/mstile-144x144.png" name="msapplication-TileImage">

    <link href="static/added-styles.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block script_include %}{% endblock %}
</head>

<body>


<div class="container">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {% block about_active %}{% endblock %}" href="./about.html">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% block query_active %}{% endblock %}" href="./query.html">Query</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% block api_active %}{% endblock %}" href="./api.html">REST API</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% block download_active %}{% endblock %}" href="./download.html">Download</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% block licenses_active %}{% endblock %}" href="./licenses.html">Licences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% block about_contact %}{% endblock %}" href="./contact.html">Contact</a>
        </li>
    </ul>
    <br/>
    <h1>{% block header_1 %}My First Bootstrap Page{% endblock %}</h1><br/>
    {% block content_1 %}{% endblock %}
</div>

</body>

</html>