{% extends "base.html" %}
{% block download_active %}active{% endblock %}
{% block header_1 %}Download the Vectors{% endblock %}
{% block content_1 %}
<h2>DBpedia</h2>
<p>Download the DBpedia vectors <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/dbpedia/">here</a>.<br/><br/></p>

<h2>WebIsALOD</h2>
<p>Download the WebIsALOD vectors <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/alod/">here</a>.<br/><br/></p>


<h2>Wiktionary/DBnary</h2>
<p>Download the Wiktionary vectors <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/wiktionary/">here</a>.<br/><br/></p>

<h2>WordNet</h2>
<p>Download the WordNet vectors <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/wordnet/">here</a>.<br/><br/></p>
{% endblock %}