{% extends "base.html" %}
{% block licenses_active %}active{% endblock %}
{% block header_1 %}Dataset Licences{% endblock %}
{% block content_1 %}
<p>Please note that the data sets used to train embeddings are subject to licenses. You can find the licenses below.</p>
<!--
<h2>BabelNet</h2>
<p>Link to the data set: <a href="https://babelnet.org/">https://babelnet.org/</a></p>
<p>Licensing information: <a href="https://babelnet.org/license">https://babelnet.org/license</a></p>
-->
<h2>DBnary</h2>
<p>Link to the data set: <a href="http://kaiko.getalp.org/about-dbnary/download/">http://kaiko.getalp.org/about-dbnary/download/</a></p>
<p>Licensing information: <a href="http://kaiko.getalp.org/about-dbnary/">http://kaiko.getalp.org/about-dbnary/</a><br/><br/></p>
<h2>DBpedia</h2>
<p>Link to the data set and licensing information: <a href="https://wiki.dbpedia.org/downloads-2016-10">https://wiki.dbpedia.org/downloads-2016-10</a><br/><br/></p>
<h2>WebIsALOD</h2>
<p>Link to the data set and licensing information: <a href="http://webisa.webdatacommons.org/">http://webisa.webdatacommons.org/</a><br/><br/></p>
<h2>WordNet</h2>
<p>Link to the data set: <a href="http://wordnet-rdf.princeton.edu/about">http://wordnet-rdf.princeton.edu/about</a></p>
<p>Licensing information: <a href="http://wordnet-rdf.princeton.edu/license">http://wordnet-rdf.princeton.edu/license</a></p>
{% endblock %}