{% extends "base.html" %}
{% block query_active %}active{% endblock %}
{% block header_1 %}Query the Data in Your Browser{% endblock %}
{% block script_include %}
<script src="static/scripts.js" type='text/javascript'></script>{% endblock %}
{% block content_1 %}

<h2>Similarity</h2>
<p>This is the GUI version of the API call "Get Similarity".</p>
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="#" id="alod-sim-nav">ALOD</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" id="dbpedia-sim-nav">DBpedia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" id="wordnet-sim-nav">WordNet</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" id="wiktionary-sim-nav">Wiktionary</a>
    </li>
    <!--
    <li class="nav-item">
        <a class="nav-link" href="#" id="babelnet-sim-nav">BabelNet</a>
    </li>
    -->
</ul>
<p><br/></p>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="concept1sim">Concept 1 Label</label>
                <input class="form-control" id="concept1sim" type="text">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="concept2sim">Concept 2 Label</label>
                <input class="form-control" id="concept2sim" type="text">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-outline-secondary" id="similarity-button" type="button">Calculate Similarity</button>
        </div>
    </div>
</div>
<div id="similarity-result"></div>

<p><br/></p>

<h2>N Closest Concepts</h2>
<p>This is the GUI version of the API call "N Closest Concepts".
    Note that due to many million cosine calculations to be performed for each query, a request might take a long time
    to complete.</p>
<br/>
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="#" id="alod-nav">ALOD</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" id="dbpedia-nav">DBpedia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" id="wordnet-nav">WordNet</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" id="wiktionary-nav">Wiktionary</a>
    </li>
    <!--
    <li class="nav-item">
        <a class="nav-link" href="#" id="babelnet-nav">BabelNet</a>
    </li>
    -->
</ul>
<br/>
<div class="input-group mb-3">
    <input aria-describedby="button-addon2" aria-label="Search Term" class="form-control" id="search_field"
           placeholder="Search Term"
           type="text">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" id="query-search-button" id="button-addon2" type="button">Search
        </button>
    </div>
    <br/><br/>
</div>
<div id="query-result"></div>
{% endblock %}