{% extends "base.html" %}
{% block download_active %}active{% endblock %}
{% block header_1 %}Download the Vectors{% endblock %}
{% block content_1 %}
<h2>DBpedia</h2>
DBpedia embeddings are available for different DBpedia versions and in different RDF2vec flavors.

<h3>2016-10</h3>
<p>Download the DBpedia vectors of the API <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/dbpedia/api/">here</a> (500 walks, depth: 8, SG, 200 dimensions).<br/>
The API always uses the latest embedding version. Older versions are kept for reference.
</p><br/>

<p><i>Further configurations</i>:</p>
<ul>
    <li>500 walks, depth: 4, SG, 100 dimensions: <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/iswc/dbpedia_500_4_sg_100/">Download</a></li>
    <li>500 walks, depth: 4, SG, 200 dimensions: <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/iswc/dbpedia_500_4_sg_200/">Download</a></li>
    <li>500 walks, depth: 4, CBOW, 100 dimensions: <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/iswc/dbpedia_500_4_cbow_100/">Download</a></li>
    <li>500 walks, depth: 4, CBOW, 200 dimensions: <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/iswc/dbpedia_500_4_cbow_200/">Download</a></li>
</ul>
<br/>

<h3>2021-09</h3>

<ul>
    <li>Classic RDF2vec: 500 walks, depth: 4, SG, 200 dimensions: <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/dbpedia/2021-09/classic-rdf2vec-sg-200">Download</a></li>
    <li>Classic RDF2vec: 500 walks, depth: 4, SG OA, 200 dimensions: <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/dbpedia/2021-09/classic-rdf2vec-sg-oa-200">Download</a></li>
    <li>Classic RDF2vec: 500 walks, depth: 4, CBOW, 200 dimensions: <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/dbpedia/2021-09/classic-rdf2vec-cbow-200">Download</a></li>
    <li>Classic RDF2vec: 500 walks, depth: 4, CBOW OA, 200 dimensions: <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/dbpedia/2021-09/classic-rdf2vec-cbow-oa-200">Download</a></li>

    <li>e-RDF2vec: 500 walks, depth: 4, SG, 200 dimensions: <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/dbpedia/2021-09/e-rdf2vec-sg-200">Download</a></li>
    <li>e-RDF2vec: 500 walks, depth: 4, SG OA, 200 dimensions: <a  href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/dbpedia/2021-09/e-rdf2vec-sg-oa-200">Download</a></li>
    <li>e-RDF2vec: 500 walks, depth: 4, CBOW, 200 dimensions: <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/dbpedia/2021-09/e-rdf2vec-cbow-200">Download</a></li>
    <li>e-RDF2vec: 500 walks, depth: 4, CBOW OA, 200 dimensions: <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/dbpedia/2021-09/e-rdf2vec-cbow-oa-200">Download</a></li>

    <li>p-RDF2vec: 500 walks, depth: 4, SG, 200 dimensions: <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/dbpedia/2021-09/p-rdf2vec-sg-200">Download</a></li>
    <li>p-RDF2vec: 500 walks, depth: 4, SG OA, 200 dimensions: <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/dbpedia/2021-09/p-rdf2vec-sg-oa-200">Download</a></li>
    <li>p-RDF2vec: 500 walks, depth: 4, CBOW, 200 dimensions: <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/dbpedia/2021-09/p-rdf2vec-cbow-200">Download</a></li>
    <li>p-RDF2vec: 500 walks, depth: 4, CBOW OA, 200 dimensions: <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/dbpedia/2021-09/p-rdf2vec-cbow-oa-200">Download</a></li>
</ul>

<h2>WebIsALOD</h2>
<p>Download the WebIsALOD vectors <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/alod/">here</a>.<br/><br/></p>

<h2>Wiktionary/DBnary</h2>
<p>Download the Wiktionary vectors <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/wiktionary/">here</a>.<br/><br/></p>

<h2>WordNet</h2>
<p>Download the WordNet vectors <a href="http://data.dws.informatik.uni-mannheim.de/kgvec2go/wordnet/">here</a>.<br/><br/></p>

<h2>Caligraph</h2>
<p>RDF2vec embeddings for <a href="http://caligraph.org/">CaLiGraph</a> are available for multiple CaLiGraph versions:
<ul>
    <li><a href="http://data.dws.informatik.uni-mannheim.de/CaLiGraph/rdf2vec/v1_0_8/caligraph_rdf2vec_v108.tar.gz">CaLiGraph v1.0.8</a><br/>
    (Configuration: 500 walks, depth: 4, SG, 200 dimensions)</li>
    <li><a href="http://data.dws.informatik.uni-mannheim.de/CaLiGraph/rdf2vec/v2_1_1/">CaLiGraph v2.1.1</a><br>
    (Configuration: 500 walks, depth: 4, SG, 200 dimensions)
    </li>
</ul>

CaLiGraph embeddings were trained by <a href="https://www.uni-mannheim.de/dws/people/researchers/phd-students/nicolas-heist/">Nicolas Heist</a>
using <a href="https://github.com/dwslab/jRDF2Vec">jRDF2vec</a>.<br/><br/>
{% endblock %}